*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: url(../multimedia/real-estate-6688945_1280.webp) no-repeat center center fixed;
    background-size: cover;
}